<div class="cadastro">
  <div class="pair">
    <label
      >Nome
      <input type="text" [(ngModel)]="aluno.nome" placeholder="Nome do aluno" />
    </label>
  </div>

  <div class="pair">
    <label
      >Idade
      <input type="number" [(ngModel)]="aluno.idade" />
    </label>
  </div>

  <div class="pair">
    <label
      >Foto
      <input
        type="text"
        [(ngModel)]="aluno.foto"
        placeholder="URL da foto do aluno Opcional"
      />
    </label>
  </div>

  <button (click)="cadastrar(aluno)">Cadastrar</button>
</div>
