.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
}

button {
  margin-top: 1rem;
}
