h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem 0.5rem 0rem;
}

nav {
  display: flex;
  justify-content: center;
}

button {
  width: 200px;
  height: 25px;
  background: rgba(44, 62, 80, 1);
  border: none;
  margin: 0.25rem;
  border-radius: 5px;
  color: white;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
}
