<div>
  <table>
    <thead>
      <tr>
        <th><b>Nome</b></th>
        <th><b>Opção</b></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let aluno of listaAlunos">
        <td class="name">{{ aluno.nome }}</td>
        <td class="btns">
          <a routerLink="/details/{{ aluno.id }}">
            <button class="btnPerfil">Ver perfil</button>
          </a>

          <a routerLink="/edit/{{ aluno.id }}">
            <button class="btnEditar">Editar</button>
          </a>

          <a routerLink="/delete/{{ aluno.id }}">
            <button class="btnDeletar">Deletar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-container *ngIf="alunoSelecionado">
  <router-outlet></router-outlet>
</ng-container>
